PYTHONPATH=src
MYSQL_HOST_PORT=3363
MYSQL_ROOT_PASSWORD=root_password
MYSQL_USER=db_user
MYSQL_PASSWORD=db_password
MYSQL_DATABASE=db_name
MYSQL_INITDB_SKIP_TZINFO=yes
DATABASE_URL=mariadb+pymysql://${MYSQL_USER}:${MYSQL_PASSWORD}@mariadb:3306/${MYSQL_DATABASE}
JWT_TOKEN=super_secret_jwt_key_change_me
ECHO_DATABASE=True
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60
DEBUG=False
LOG_LEVEL=DEBUG
CLOUDFLARED_TOKEN=