# Git e Controle de Versão
.git
.gitignore

# Docker
Dockerfile
docker-compose*.yaml
.dockerignore

# IDE
.vscode
.idea
*.swp
*~

# Python Cache
__pycache__/
*.pyc
*.pyo
.mypy_cache/

# Testes e Coverage
.pytest_cache/
tests/

# Ambientes Virtuais
.venv
venv

# Arquivos de Configuração Local
.env
.env.*
!.env.example

# Bancos de Dados e Logs
database.db
*.log
logs/
*.sql

# Dados e Arquivos Grandes (Ignorar se não forem essenciais para a API)
src/modules/chroma_vector/rag.tar.xz
*.xlsx
!src/templates/*.xlsx
*.docx

# Documentação
README.md
LICENSE

# Outros
.DS_Store
*.bak