PYTHONPATH=src # Set the PYTHONPATH to the src directory to ensure that Python can find your modules
database_url='mysql+pymysql://echocad_admin:echocad_admin_password@localhost:3306/echocad_db' # Database connection URL in the format: dialect+driver://username:password@host:port/database
log_level=DEBUG # Set the logging level (e.g., DEBUG, INFO, WARNING, ERROR, CRITICAL)
echo_database=true # Set to true to enable echoing of database queries (useful for debugging, but can be verbose in production)